body {
    margin: 0px;
    background-image: url(images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-color: hsl(257, 40%, 49%);
}

.body-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
}

.logo-img {
    width: 200px;
    position: relative;
    left: 40px;
    top: 50px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
}

.image {
    width: 600px;
}

.col-container {
    width: 500px;
    margin-left: 80px;
    margin-top: 30px;
    color: #ffffff;
}

.col-2 {
    margin-top: 20px;
}

.title{
    font-family: 'Poppins', sans-serif;
    width: 350px;
    font-size: 14px;
    font-weight: 300;
    line-height: 45px;
}

.text {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    width: 400px;
    line-height: 25px;
    margin-top: -10px;
    margin-bottom: 10px;
}

.btn {
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 50px;
    color: hsl(257, 40%, 49%);
}

.icon-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 135px;
}

.icon {
    margin-left: 20px;
    color: #ffffff;
    font-size: 20px;
}


@media screen and (max-width: 500px) {

    body {
        margin: 0px;
        background-image: url(images/bg-mobile.svg);
        background-size: contain;
    }

    .body-container {
        margin-left: 0px;
        align-items: center;
    }

    .logo-img {
        width: 150px;
        position: relative;
        left: -107px;
    
    }

    .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .col-container {
        width: 350px;
        margin-left: 0px;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-bottom: 70px;
    }

    .image {
        width: 350px;
    }

    .title {
        width: 300px;
        font-size: 12px;
        line-height: 35px;
        margin-bottom: 30px;
        margin-left: 20px;
    }

    .text {
        width: 300px;
        font-size: 16px;
        margin-left: 22px;
        margin-bottom: 20px;
    }

    .btn {
        width: 200px;
    }

    .icon-container {
        margin-left: 110px;
        margin-bottom: 40px;
    }
}

