body {
    margin: 0px;
    background-image: url(images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-color: hsl(257, 40%, 49%);
}

.body-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
}

.logo-img {
    width: 200px;
    position: relative;
    left: 40px;
    top: 50px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
}

.image {
    width: 600px;
}

.col-container {
    width: 500px;
    margin-left: 80px;
    margin-top: 30px;
    color: #ffffff;
}

.col-2 {
    margin-top: 20px;
}

.title{
    font-family: 'Poppins', sans-serif;
    width: 350px;
    font-size: 14px;
    font-weight: 300;
    line-height: 45px;
}

.text {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    width: 400px;
    line-height: 25px;
    margin-top: -10px;
    margin-bottom: 10px;
}

.btn {
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 50px;
    color: hsl(257, 40%, 49%);
}

.icon-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 135px;
}

.icon {
    margin-left: 20px;
    color: #ffffff;
    font-size: 20px;
}

