 body {
    margin: 0;
    background-color: hsl(204, 43%, 93%);
    font-size: 16px;
    font-family: 'Karla', sans-serif;;
}

.overall-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    width: 700px;
    height: 500px;

}

.sub-container {
    display: flex;
    flex-direction: row;
}

.col-1 {
    background-color: #FFFFFF;
    padding-left: 30px;
    width: 730px;
    height: 250px;
    border-radius: 10px 10px 0px 0px;
}

.col-2 {
    background-color: #2BB3B1;
    color: #FFFFFF;
    width: 350px;
    height: 250px;
    padding-left: 30px;
    border-radius: 0px 0px 0px 10px;
}

.col-3 {
    background-color: #4ABEBD;
    color: #FFFFFF;
    width: 350px;
    height: 250px;
    padding-left: 30px;
    line-height: 10px;
    border-radius: 0px 0px 10px 0px ;
}

.header-1 {
    color: hsl(179, 62%, 43%);
    padding-top: 20px;
}

.sub-header-1 {
    font-size: 18px;
    color: hsl(71, 73%, 54%);
    padding-bottom: 0px;
}

.paragraph-1 {
    font-size: 18px;
    color: hsl(218, 22%, 67%);
    width: 600px;
    line-height: 30px;
}

.header-2 {
    padding-top: 20px;
}

button {
    color: #FFFFFF;
    background-color: hsl(71, 73%, 54%);
    border: none;
    border-radius: 5px;
    letter-spacing: 2px;
    width: 240px;
    height: 50px;
}

.header-3 {
    padding-top: 20px;
    padding-bottom: 2px;
}

.paragraph-3 {
    font-size: 12px;
}
span {
    font-size: 14px;
    
} 




@media screen and (max-width: 500px) {

    body {
        font-size: 12px;
        margin: 0px;
    }

    .container {
        margin-bottom: 70px;
        height: 750px;
    }

    .sub-container {
        display: flex;
        flex-direction: column;

    }

    .col-1 {
        width: 330px;
        height: 280px;
        border-radius: 5px 5px 0px 0px;
    }

    .col-2 {
        width: 330px;
        border-radius: 0px;
        height: 250px;
    }

    .col-3 {
        width: 330px;
        height: 250px;
        border-radius: 0px 0px 5px 5px;

    }

    .header-1 {
        font-size: 12px;
        padding-top: 15px;
        padding-bottom: 1px;
    }

    .sub-header-1 {
        font-size: 12px;
        width: 250px;
    }

    .paragraph-1 {
        font-size: 15px;
        width: 300px;
        line-height: 27px;
    }

    .header-2 {
        font-size: 16px;
        padding-top: 10px;
    }

    .sub-header-2 {
        font-size: 18px;
    }

    .paragraph-2 {
        font-size: 16px;
    }

    span {
        font-size: 14px;
    }

    .button {
        padding-top: 10px;
    }
    
    button {
        width: 300px;

    }

    .header-3 {
        font-size: 16px;
        padding-top: 10px;
    }

    .paragraph-3 {
        font-size: 14px;
    }

}
