body {
    margin: 0px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 80px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    width: 1000px;
}

.logo-img {
    width: 150px;
}

.header-btn {
    width: 100px;
    height: 30px;
    color: hsl(322, 100%, 66%);
    background-color: #FFFFFF;
    border: 1px solid hsl(322, 100%, 66%);
    border-radius: 50px;
}

.hero-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.hero-text {
    font-family: 'Open Sans', sans-serif;
    width: 350px;
    font-size: 12px;
    font-weight: 400;
    margin-top: -20px;
    margin-bottom: 10px;
}

.hero-btn {
    width: 260px;
    height: 40px;
    border: 1px solid hsl(322, 100%, 66%);
    border-radius: 50px;
    background-color: hsl(322, 100%, 66%);
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.hero-image {
    display: flex;
    justify-content: center;
}

.hero-img {
    width: 600px;
}

.analytics-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.analytics-container {
    display: flex;
    justify-content: space-between;
    width: 500px;
}

.analytics-icon {
    width: 30px;
    margin-bottom: -40px;
}

.analytics-number {
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: -40px;
    font-weight: 400;
}

.analytics-text {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: gray;
}

.bg-top-1 {
    margin-top: 100px;
}

.bg-img {
    width: 100%;
}

.grow-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: -5px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #F6FBFF;
    height: 300px;
}

.grow-container {
    display: flex;
    justify-content: space-between;
    width: 900px;
}

.grow-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.grow-title {
    font-family: 'Poppins', sans-serif;
}

.grow-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    width: 380px;
}

.grow-img {
    width: 350px;
}

.flow-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.flow-container {
    display: flex;
    justify-content: space-between;
    width: 900px;
}

.flow-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flow-title {
    font-family: 'Poppins', sans-serif;
}

.flow-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    width: 380px;
}

.flow-img {
    width: 350px;
}

.bg-top-2 {
    margin-top: 100px;
    /* width: fit-content; */
}

.user-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: -5px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #F6FBFF;
    height: 300px;

}

.user-container {
    display: flex;
    justify-content: space-between;
    width: 900px;
}

.user-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-title {
    font-family: 'Poppins', sans-serif;
}

.user-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    width: 380px;
}

.user-img {
    width: 350px;
}

.call-to-action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.call-text {
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
}

.call-btn {
    width: 250px;
    height: 40px;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    background-color: hsl(322, 100%, 66%);
    border: none;
    border-radius: 50px;
    box-shadow: 1px 5px #E0E4E7;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    background-color: #01262F;
    width: 100%;
    height: 300px;
    margin-top: -5px;

}

.footer-section {
    width: 400px;
}

.footer-img {
    width: 100px;
    color: #FFFFFF;
}

.footer-text {
    width: 250px;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}

.footer-phone {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer-email {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.newsletter-section {
    
}